body {
  background-color: #2d2d2d;
  margin: 0%;
}
@font-face {
  font-family: "droid-sans";
  src: url("../style/font/DroidSans.ttf");
}
@font-face {
  font-family: "droid-sans-bold";
  src: url("../style/font/DroidSans-Bold.ttf");
}
* {
  font-family: "droid-sans";
}
/* ------------ header ------------*/

header {
  height: 20vh;
  width: 100vw;
  padding: 0% 1% 0% 1%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #93b0c0;
}

/*  name + skills */
#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 50vw;
  color: #ffff;
  font-size: 100%;
  justify-content: center;
  padding-left: 1%;
  overflow: auto;
}
#name {
  font-family: "droid-sans-bold";
  text-align: center;
  font-size: 2em;
  margin-bottom: 1%;
}
#skills-section {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
}
.skills {
  font-size: 0.8em;
  flex: 1 1 auto;
  margin-bottom: 0%;
  margin-top: 0%;
  min-height: 20px;
}

@keyframes loadBar {
  from {
    width: 0;
  }
  to {
    width: 100vw;
  }
}

/* contact buttons  */

/* ------------ bio box / terminal------------ */
#bio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

#terminal-text {
  background-color: #404040;
  height: 80%;
  width: 70%;
  border-radius: 20px;
  overflow-y: hidden;
}

.typing {
  width: 0;
  height: 0;
  overflow-y: hidden;
  white-space: pre-wrap;
  animation: type-out 2s linear forwards;
}

.bio-text {
  margin: 4%;
  overflow: hidden;
  word-break: keep-all;
  color: #ffff;
}

@keyframes type-out {
  from {
    width: 0;
    height: 20px;
  }
  to {
    width: 80%;
    height: 20px;
  }
}

/* ------------ projects modal ------------ */

#modal-around {
  z-index: 1;
  display: flex hidden;
  position: fixed;
  align-items: flex-start;
  justify-content: space-around;
  left: 68%;
  top: 73%;
  height: 200px;
  width: 300px;
}

#project-modal {
  /* z-index: 3; */
  height: 75px;
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  background-color: #2e5b74;
  border: 0;
  color: #ffff;
  font-size: 20px;
}
.pop-ups {
  height: 30px;
  width: 30px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  transition: transform 1s;
}

#pop-up-resume.move {
  transform: translate(-900%, -10%);
}

#pop-up-contact.move {
  transform: translate(-780%, -300%);
}
#pop-up-linkedin.move {
  transform: translate(-400%, -590%);
}

#pop-up-github.move {
  transform: translate(-0%, -680%);
}

.icon {
  height: auto;
  width: auto;
  max-width: 40px;
  max-height: 40px;
}

.contact-icons {
  animation: pop-out 3s linear forwards;
}
