body {
  background-color: #2d2d2d;
  margin: 0%;
}
@font-face {
  font-family: "droid-sans";
  src: url("../font/DroidSans.ttf");
}
@font-face {
  font-family: "droid-sans-bold";
  src: url("../font/DroidSans-Bold.ttf");
}
* {
  font-family: "droid-sans";
}
/* ------------ header ------------*/

header {
  height: 20vh;
  width: 100vw;
  padding: 0% 1% 0% 1%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 5px solid #93b0c0;
}

/*  name + skills */
#info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  height: 100%;
  width: 50vw;
  color: #ffff;
  font-size: 100%;
  justify-content: center;
  padding-left: 1%;
  overflow: auto;
}
#name {
  font-family: "droid-sans-bold";
  font-size: 2em;
  margin-bottom: 1%;
}
#skills-section {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
}
.skills {
  font-size: 0.8em;
  flex: 1 1 auto;
  margin-bottom: 0%;
  margin-top: 0%;
  min-height: 20px;
}

/* contact buttons  */

#button-container {
  height: 100%;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: auto;
}
.contact-button {
  background-color: #404040;
  color: #93b0c0;
  border: 0;
  height: 100px;
  width: 100px;
  border-radius: 20%;
}

/* ------------ bio box ------------ */
#bio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

#terminal-text {
  background-color: #404040;
  height: 80%;
  width: 70%;
  border-radius: 20px;
}

.bio-text {
  margin: 4%;
  color: #ffff;
}

/* ------------ projects modal ------------ */

#project-modal {
  z-index: 2;
  position: fixed;
  left: 83%;
  top: 86%;
  height: 75px;
  width: 150px;
  border-radius: 20px;
  background-color: #2e5b74;
  border: 0;
  color: #ffff;
  font-size: 20px;
}
