body {
  background-color: #2d2d2d;
  margin: 0%;
}
@font-face {
  font-family: "droid-sans";
  src: url("../font/DroidSans.ttf");
}
@font-face {
  font-family: "droid-sans-bold";
  src: url("../font/DroidSans-Bold.ttf");
}
* {
  font-family: "droid-sans";
}
/* ------------ header ------------*/

header {
  height: 20vh;
  width: 100vw;
  padding: 0% 1% 0% 1%;
  margin: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #93b0c0;
}

/*  name + skills */
#info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 50vw;
  color: #ffff;
  font-size: 100%;
  justify-content: center;
  padding-left: 1%;
  overflow: auto;
}
#name {
  font-family: "droid-sans-bold";
  text-align: center;
  font-size: 2em;
  margin-bottom: 1%;
}
#skills-section {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
}
.skills {
  font-size: 0.8em;
  flex: 1 1 auto;
  margin-bottom: 0%;
  margin-top: 0%;
  min-height: 20px;
}

/* contact buttons  */

/* ------------ bio box ------------ */
#bio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

#terminal-text {
  background-color: #404040;
  height: 80%;
  width: 70%;
  border-radius: 20px;
}

.bio-text {
  margin: 4%;
  color: #ffff;
}

/* ------------ projects modal ------------ */

#modal-around {
  z-index: 2;
  display: flex;
  position: fixed;
  align-items: flex-start;
  justify-content: space-around;
  left: 68%;
  top: 73%;
  /* border: 1px solid red; */
  height: 200px;
  width: 300px;
}

#project-modal {
  z-index: 3;
  height: 75px;
  width: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 20px;
  background-color: #2e5b74;
  border: 0;
  color: #ffff;
  font-size: 20px;
}
.pop-ups {
  height: 30px;
  width: 30px;
}

#pop-up-resume {
  position: absolute;
  bottom: 0;
  left: 0;
}
#pop-up-contact {
  transform: translate(90%, 250%) rotate(0deg);
}
#pop-up-linkedin {
  transform: translate(80%, 10%) rotate(0deg);
}
#pop-up-github {
  transform: translate(100%, -30%) rotate(0deg);
}

.icon {
  height: auto;
  width: auto;
  max-width: 40px;
  max-height: 40px;
}

.hidden {
  display: none;
}
