#bio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

#bio-box.shrink {
  justify-content: flex-start;
}

#terminal-text {
  display: list-item;
  z-index: 2;
  /* flex-direction: column; */
  /* background-color: #404040; */
  background-color: black;
  height: 90%;
  width: 85%;
  border-radius: 20px;
  overflow-y: hidden;
}

#terminal-text.shrink {
  transition: 0.3s;
  width: 35%;
  /* justify-self: flex-start; */
}

.typing {
  width: 0;
  height: 0;
  overflow-y: hidden;
  white-space: pre-wrap;
  animation: type-out 2s linear forwards;
}

.bio-text {
  margin: 4%;
  overflow: hidden;
  word-break: keep-all;
  color: #ffff;
}

#skip-box {
  position: absolute;
  /* right: 10px; */
  left: 85%;
}

#skip-text {
  color: rgba(255, 255, 255, 0.6);
}

#skip-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (min-width: 300px) {
  #terminal-text {
    height: 80%;
  }
  #terminal-text.shrink {
    visibility: hidden;
    width: 0;
  }
  #skip-box {
    left: 80%;
  }
}

@keyframes type-out {
  from {
    width: 0;
    height: 20px;
  }
  to {
    width: 90%;
    height: auto;
  }
}
